In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
# Read local dataset
df = pd.read_csv('TornadoDataset.csv')
df.head()

,EVENT_TYPE,STATE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,TOR_LENGTH,TOR_WIDTH,BEGIN_DATE_TIME,END_DATE_TIME,Total Damage Cost,EF-Scale
0,Tornado,OKLAHOMA,0,0,0,0,3.4,400.0,28-APR-50 14:45:00,28-APR-50 14:45:00,250000.0,3
1,Tornado,TEXAS,0,0,0,0,11.5,200.0,29-APR-50 15:30:00,29-APR-50 15:30:00,25000.0,1
2,Tornado,PENNSYLVANIA,2,0,0,0,12.9,33.0,05-JUL-50 18:00:00,05-JUL-50 18:00:00,25000.0,2
3,Tornado,PENNSYLVANIA,0,0,0,0,0.0,13.0,05-JUL-50 18:30:00,05-JUL-50 18:30:00,2500.0,2
4,Tornado,PENNSYLVANIA,0,0,0,0,0.0,33.0,24-JUL-50 14:40:00,24-JUL-50 14:40:00,2500.0,0

In [3]:
# Set format for datetime conversion
dateFormat = '%d-%b-%y %H:%M:%S'
# Convert object to proper datetime and store in new column
df['StartDateTime'] = pd.to_datetime(df.BEGIN_DATE_TIME.values, format=dateFormat)
df.StartDateTime.values

array(['2050-04-28T14:45:00.000000000', '2050-04-29T15:30:00.000000000',
       '2050-07-05T18:00:00.000000000', ...,
       '2022-06-03T16:23:00.000000000', '2022-06-07T16:30:00.000000000',
       '2022-06-26T18:29:00.000000000'], dtype='datetime64[ns]')

In [4]:
# Set format for datetime conversion
dateFormat = '%d-%b-%y %H:%M:%S'
# Convert object to proper datetime and store in new column
StartDateTime = pd.to_datetime(df.BEGIN_DATE_TIME.values, format=dateFormat)
StartDateTime.values

array(['2050-04-28T14:45:00.000000000', '2050-04-29T15:30:00.000000000',
       '2050-07-05T18:00:00.000000000', ...,
       '2022-06-03T16:23:00.000000000', '2022-06-07T16:30:00.000000000',
       '2022-06-26T18:29:00.000000000'], dtype='datetime64[ns]')

In [5]:
""" OG
# Create a season column based on the month value of StartDateTime
# df.Season = np.where(df.StartDateTime.dt.month 
df['Season'] = np.where(df.StartDateTime.month == 1, 'Winter',
        np.where(df.StartDateTime.month == 2, 'Winter',
        np.where(df.StartDateTime.month == 3, 'Spring',
        np.where(df.StartDateTime.month == 4, 'Spring',
        np.where(df.StartDateTime.month == 5, 'Spring',
        np.where(df.StartDateTime.month == 6, 'Summer',
        np.where(df.StartDateTime.month == 7, 'Summer',
        np.where(df.StartDateTime.month == 8, 'Summer',
        np.where(df.StartDateTime.month == 9, 'Fall',
        np.where(df.StartDateTime.month == 10, 'Fall',
        np.where(df.StartDateTime.month == 11, 'Fall',
        np.where(df.StartDateTime.month == 12, 'Winter',
        'N/A'))))))))))))
"""

" OG\n# Create a season column based on the month value of StartDateTime\n# df.Season = np.where(df.StartDateTime.dt.month \ndf['Season'] = np.where(df.StartDateTime.month == 1, 'Winter',\n        np.where(df.StartDateTime.month == 2, 'Winter',\n        np.where(df.StartDateTime.month == 3, 'Spring',\n        np.where(df.StartDateTime.month == 4, 'Spring',\n        np.where(df.StartDateTime.month == 5, 'Spring',\n        np.where(df.StartDateTime.month == 6, 'Summer',\n        np.where(df.StartDateTime.month == 7, 'Summer',\n        np.where(df.StartDateTime.month == 8, 'Summer',\n        np.where(df.StartDateTime.month == 9, 'Fall',\n        np.where(df.StartDateTime.month == 10, 'Fall',\n        np.where(df.StartDateTime.month == 11, 'Fall',\n        np.where(df.StartDateTime.month == 12, 'Winter',\n        'N/A'))))))))))))\n"

In [6]:
# Create a season column based on the month value of StartDateTime
# df.Season = np.where(df.StartDateTime.dt.month 
df['Season'] = np.where(StartDateTime.month == 1, 'Winter',
        np.where(StartDateTime.month == 2, 'Winter',
        np.where(StartDateTime.month == 3, 'Spring',
        np.where(StartDateTime.month == 4, 'Spring',
        np.where(StartDateTime.month == 5, 'Spring',
        np.where(StartDateTime.month == 6, 'Summer',
        np.where(StartDateTime.month == 7, 'Summer',
        np.where(StartDateTime.month == 8, 'Summer',
        np.where(StartDateTime.month == 9, 'Fall',
        np.where(StartDateTime.month == 10, 'Fall',
        np.where(StartDateTime.month == 11, 'Fall',
        np.where(StartDateTime.month == 12, 'Winter',
        'N/A'))))))))))))

In [7]:
morningHours = (5,6,7,8,9,10,11)
afternoonHours = (12,13,14,15,16)
eveningHours = (17,18,19,20,21)
nightHours = (22,23,24,0,1,2,3,4)

In [8]:
""" OG
morningHours = (6,7,8,9,10)
df['TimeOfDay'] = np.where(df.StartDateTime.hour.isin(morningHours), 'Morning',
                np.where(df.StartDateTime.hour.isin(afternoonHours), 'Afternoon',
                np.where(df.StartDateTime.hour.isin(eveningHours), 'Evening',
                'Night')))
"""

" OG\nmorningHours = (6,7,8,9,10)\ndf['TimeOfDay'] = np.where(df.StartDateTime.hour.isin(morningHours), 'Morning',\n                np.where(df.StartDateTime.hour.isin(afternoonHours), 'Afternoon',\n                np.where(df.StartDateTime.hour.isin(eveningHours), 'Evening',\n                'Night')))\n"

In [9]:
morningHours = (6,7,8,9,10)
df['TimeOfDay'] = np.where(StartDateTime.hour.isin(morningHours), 'Morning',
                np.where(StartDateTime.hour.isin(afternoonHours), 'Afternoon',
                np.where(StartDateTime.hour.isin(eveningHours), 'Evening',
                'Night')))

In [10]:
df.head()

,EVENT_TYPE,STATE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,TOR_LENGTH,TOR_WIDTH,BEGIN_DATE_TIME,END_DATE_TIME,Total Damage Cost,EF-Scale,StartDateTime,Season,TimeOfDay
0,Tornado,OKLAHOMA,0,0,0,0,3.4,400.0,28-APR-50 14:45:00,28-APR-50 14:45:00,250000.0,3,2050-04-28 14:45:00,Spring,Afternoon
1,Tornado,TEXAS,0,0,0,0,11.5,200.0,29-APR-50 15:30:00,29-APR-50 15:30:00,25000.0,1,2050-04-29 15:30:00,Spring,Afternoon
2,Tornado,PENNSYLVANIA,2,0,0,0,12.9,33.0,05-JUL-50 18:00:00,05-JUL-50 18:00:00,25000.0,2,2050-07-05 18:00:00,Summer,Evening
3,Tornado,PENNSYLVANIA,0,0,0,0,0.0,13.0,05-JUL-50 18:30:00,05-JUL-50 18:30:00,2500.0,2,2050-07-05 18:30:00,Summer,Evening
4,Tornado,PENNSYLVANIA,0,0,0,0,0.0,33.0,24-JUL-50 14:40:00,24-JUL-50 14:40:00,2500.0,0,2050-07-24 14:40:00,Summer,Afternoon

In [11]:
df['Total Injuries'] = df.INJURIES_DIRECT + df.INJURIES_INDIRECT

In [12]:
df['Total Deaths'] = df.DEATHS_DIRECT + df.DEATHS_INDIRECT

In [13]:
df.head()

,EVENT_TYPE,STATE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,TOR_LENGTH,TOR_WIDTH,BEGIN_DATE_TIME,END_DATE_TIME,Total Damage Cost,EF-Scale,StartDateTime,Season,TimeOfDay,Total Injuries,Total Deaths
0,Tornado,OKLAHOMA,0,0,0,0,3.4,400.0,28-APR-50 14:45:00,28-APR-50 14:45:00,250000.0,3,2050-04-28 14:45:00,Spring,Afternoon,0,0
1,Tornado,TEXAS,0,0,0,0,11.5,200.0,29-APR-50 15:30:00,29-APR-50 15:30:00,25000.0,1,2050-04-29 15:30:00,Spring,Afternoon,0,0
2,Tornado,PENNSYLVANIA,2,0,0,0,12.9,33.0,05-JUL-50 18:00:00,05-JUL-50 18:00:00,25000.0,2,2050-07-05 18:00:00,Summer,Evening,2,0
3,Tornado,PENNSYLVANIA,0,0,0,0,0.0,13.0,05-JUL-50 18:30:00,05-JUL-50 18:30:00,2500.0,2,2050-07-05 18:30:00,Summer,Evening,0,0
4,Tornado,PENNSYLVANIA,0,0,0,0,0.0,33.0,24-JUL-50 14:40:00,24-JUL-50 14:40:00,2500.0,0,2050-07-24 14:40:00,Summer,Afternoon,0,0

In [14]:
# int(str(df.StartDateTime.year))
df['Year'] = df.StartDateTime.dt.year
df.head()

,EVENT_TYPE,STATE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,TOR_LENGTH,TOR_WIDTH,BEGIN_DATE_TIME,END_DATE_TIME,Total Damage Cost,EF-Scale,StartDateTime,Season,TimeOfDay,Total Injuries,Total Deaths,Year
0,Tornado,OKLAHOMA,0,0,0,0,3.4,400.0,28-APR-50 14:45:00,28-APR-50 14:45:00,250000.0,3,2050-04-28 14:45:00,Spring,Afternoon,0,0,2050
1,Tornado,TEXAS,0,0,0,0,11.5,200.0,29-APR-50 15:30:00,29-APR-50 15:30:00,25000.0,1,2050-04-29 15:30:00,Spring,Afternoon,0,0,2050
2,Tornado,PENNSYLVANIA,2,0,0,0,12.9,33.0,05-JUL-50 18:00:00,05-JUL-50 18:00:00,25000.0,2,2050-07-05 18:00:00,Summer,Evening,2,0,2050
3,Tornado,PENNSYLVANIA,0,0,0,0,0.0,13.0,05-JUL-50 18:30:00,05-JUL-50 18:30:00,2500.0,2,2050-07-05 18:30:00,Summer,Evening,0,0,2050
4,Tornado,PENNSYLVANIA,0,0,0,0,0.0,33.0,24-JUL-50 14:40:00,24-JUL-50 14:40:00,2500.0,0,2050-07-24 14:40:00,Summer,Afternoon,0,0,2050

In [15]:
df.Year - 100

0        1950
1        1950
2        1950
3        1950
4        1950
         ...
54950    1922
54951    1922
54952    1922
54953    1922
54954    1922
Name: Year, Length: 54955, dtype: int64

In [16]:
yearOffset = df.Year > 2050
df.Year

0        2050
1        2050
2        2050
3        2050
4        2050
         ...
54950    2022
54951    2022
54952    2022
54953    2022
54954    2022
Name: Year, Length: 54955, dtype: int64

In [17]:
df.loc[df['Year'] > 2022, 'Year'] = df.Year - 100
df.Year

0        1950
1        1950
2        1950
3        1950
4        1950
         ...
54950    2022
54951    2022
54952    2022
54953    2022
54954    2022
Name: Year, Length: 54955, dtype: int64

In [18]:
df

,EVENT_TYPE,STATE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,TOR_LENGTH,TOR_WIDTH,BEGIN_DATE_TIME,END_DATE_TIME,Total Damage Cost,EF-Scale,StartDateTime,Season,TimeOfDay,Total Injuries,Total Deaths,Year
0,Tornado,OKLAHOMA,0,0,0,0,3.40,400.0,28-APR-50 14:45:00,28-APR-50 14:45:00,250000.0,3,2050-04-28 14:45:00,Spring,Afternoon,0,0,1950
1,Tornado,TEXAS,0,0,0,0,11.50,200.0,29-APR-50 15:30:00,29-APR-50 15:30:00,25000.0,1,2050-04-29 15:30:00,Spring,Afternoon,0,0,1950
2,Tornado,PENNSYLVANIA,2,0,0,0,12.90,33.0,05-JUL-50 18:00:00,05-JUL-50 18:00:00,25000.0,2,2050-07-05 18:00:00,Summer,Evening,2,0,1950
3,Tornado,PENNSYLVANIA,0,0,0,0,0.00,13.0,05-JUL-50 18:30:00,05-JUL-50 18:30:00,2500.0,2,2050-07-05 18:30:00,Summer,Evening,0,0,1950
4,Tornado,PENNSYLVANIA,0,0,0,0,0.00,33.0,24-JUL-50 14:40:00,24-JUL-50 14:40:00,2500.0,0,2050-07-24 14:40:00,Summer,Afternoon,0,0,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54950,Tornado,OHIO,0,0,0,0,13.75,150.0,08-JUN-22 16:53:00,08-JUN-22 17:16:00,1000000.0,2,2022-06-08 16:53:00,Summer,Afternoon,0,0,2022
54951,Tornado,WISCONSIN,0,0,0,0,7.51,250.0,15-JUN-22 15:22:00,15-JUN-22 15:34:00,100000.0,2,2022-06-15 15:22:00,Summer,Afternoon,0,0,2022
54952,Tornado,COLORADO,0,0,0,0,4.18,5.0,03-JUN-22 16:23:00,03-JUN-22 16:28:00,5000.0,0,2022-06-03 16:23:00,Summer,Afternoon,0,0,2022
54953,Tornado,NEW MEXICO,0,0,0,0,0.19,10.0,07-JUN-22 16:30:00,07-JUN-22 16:35:00,0.0,0,2022-06-07 16:30:00,Summer,Afternoon,0,0,2022
54954,Tornado,MISSISSIPPI,0,0,0,0,2.31,300.0,26-JUN-22 18:29:00,26-JUN-22 18:36:00,75000.0,1,2022-06-26 18:29:00,Summer,Evening,0,0,2022

In [19]:
# Create Damage Cost Level Labels
df.loc[df['Total Damage Cost'] >= 10000000, 'Damage Label'] = 'High Damage (>$10M)'
df.loc[(df['Total Damage Cost'] >=1000000) & (df['Total Damage Cost'] <10000000), 'Damage Label'] = 'Medium Damage (>$1M & <$10M)'
df.loc[(df['Total Damage Cost'] >=1) & (df['Total Damage Cost'] <1000000), 'Damage Label'] = 'Low Damage (<$1M)'
df.loc[df['Total Damage Cost'] <= 0, 'Damage Label'] = 'No Damage'

In [20]:
df['Damage Label'].unique()

array(['Low Damage (<$1M)', 'No Damage', 'Medium Damage (>$1M & <$10M)',
       'High Damage (>$10M)'], dtype=object)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54955 entries, 0 to 54954
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EVENT_TYPE         54955 non-null  object
 1   STATE              54955 non-null  object
 2   INJURIES_DIRECT    54955 non-null  int64
 3   INJURIES_INDIRECT  54955 non-null  int64
 4   DEATHS_DIRECT      54955 non-null  int64
 5   DEATHS_INDIRECT    54955 non-null  int64
 6   TOR_LENGTH         54955 non-null  float64
 7   TOR_WIDTH          54955 non-null  float64
 8   BEGIN_DATE_TIME    54955 non-null  object
 9   END_DATE_TIME      54955 non-null  object
 10  Total Damage Cost  54955 non-null  float64
 11  EF-Scale           54955 non-null  int64
 12  StartDateTime      54955 non-null  datetime64[ns]
 13  Season             54955 non-null  object
 14  TimeOfDay          54955 non-null  object
 15  Total Injuries     54955 non-null  int64
 16  Total Deaths       54955 non-null  int64
 17  Year               54955 non-null  int64
 18  Damage Label       54955 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(8), object(7)
memory usage: 8.0+ MB

In [22]:
# Select specific columns for Machine Learning
df = df.iloc[:,[1,17,11,6,7,13,14,15,16, 18]]

In [23]:
df.head()

,STATE,Year,EF-Scale,TOR_LENGTH,TOR_WIDTH,Season,TimeOfDay,Total Injuries,Total Deaths,Damage Label
0,OKLAHOMA,1950,3,3.4,400.0,Spring,Afternoon,0,0,Low Damage (<$1M)
1,TEXAS,1950,1,11.5,200.0,Spring,Afternoon,0,0,Low Damage (<$1M)
2,PENNSYLVANIA,1950,2,12.9,33.0,Summer,Evening,2,0,Low Damage (<$1M)
3,PENNSYLVANIA,1950,2,0.0,13.0,Summer,Evening,0,0,Low Damage (<$1M)
4,PENNSYLVANIA,1950,0,0.0,33.0,Summer,Afternoon,0,0,Low Damage (<$1M)

In [24]:
# Save a local copy
df.to_csv('Tornado_ML_Dataset.csv',index=False)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54955 entries, 0 to 54954
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   STATE           54955 non-null  object
 1   Year            54955 non-null  int64
 2   EF-Scale        54955 non-null  int64
 3   TOR_LENGTH      54955 non-null  float64
 4   TOR_WIDTH       54955 non-null  float64
 5   Season          54955 non-null  object
 6   TimeOfDay       54955 non-null  object
 7   Total Injuries  54955 non-null  int64
 8   Total Deaths    54955 non-null  int64
 9   Damage Label    54955 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 4.2+ MB